# Inserting Data into Database

### Inserting data into database

> As developers we don't directly insert data too many time

In [ ]:
* Create a

`insert_employees.sql`
```sql
INSERT INTO employees (name, phone_number, home zipcode, birthday) VALUES 
('fred', '555-333-4444', '10001', '8/17/1990'),
('bob', '555-333-4444', '10001', '8/17/1990');
```

* Note that we don't need all of the columns, and we are leaving out

* Note commas in between each row, and end each sql statement with a semi-colon

To execute the command:

`sqlite3 haircut_shop.db < insert_employees.sql`

At this point, if we don't see an error, we have properly inserted in our data