# Group By

### Introduction

Now so far, when we have queried for aggregate information, we have done by asking questions about the entire table, or a single subset of the table.  For example, we could answer a question about the average rating of a restaurant in the Bronx, and then perhaps a separate query about the average restaurant rating in Queens.  But what if we'd like to organize our data into different groups based on the neighborhood, and then calculate the average rating of each group of restaurants?  For that we use group by.

### Working with Group By

Let's start with that exact query.  We'll group our restaurants based on neighborhood and then calculate the average rating.

`SELECT AVG(rating) from restaurants GROUP BY neighborhood`

One way to think of GROUP BY is that it first creates separate piles of the data based on the column provided, and then performs the calculation for each pile.

Now we can use GROUP BY with any of our aggregate methods.  Let's do another one.

### Having

Now so far we have returned an answer for each group in a column, but sometimes this can be unweildy.  For example, we may not wish to see the average of each cuisine, but only those cuisines have more than five entries.  We can do so with the following:

```SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5;```

Notice that we are scoping down our information, so it seems like we would have to use a SELECT statement, but we're using HAVING instead.  What gives?  Well we can't use the SELECT statement because of a problem of order of operations in SQL.

For us to select only those categories that have more than five rows, we must first group by and then category and then perform the count.  But in SQL, WHERE by default occurs before the GROUP BY clause.  So to tell SQL to not scope down our data until after we have separated it into groups, we use the HAVING clause.