# Belongs To Discussion Questions

Let's imagine that we are planning out the for a NYC elementary schools:

We want to have tables, for schools, teachers, and students.  For these purposes, imagine that each student is taught by only one teacher.

### Describing Relationships

1. Describe the relationship between teachers and students

2. Describe the relationship between teachers and schools

Now let's write out some of the tables.

### Drawing Tables

1. School
    * A school has an id, a name, a zip code, and any relevant foreign keys
    
2. Teacher
    * A school has an id, a name, and any relevant foreign keys
    
3. Student
    * A student has an id, a name, and any relevant foreign keys

### Writing SQL Queries

* For this section, first create a google doc with some sample data to see things better

1. Write a sql query that, given the name of a teacher, returns the name of the teacher's school.

2. Write a sql query that, given the name of a student, returns the name of the student's teacher.

3. Write a sql query that, given the name of a teacher, returns the names of all of the teacher's students

4. Write a sql query that, given the name of a school, returns the names of all of the school's teachers