# Select SQL Lab

### Introduction
We've learned all the basics about setting up our SQL database, creating tables, and inserting data. In this lab we will practice querying the data from our salad shop database using `SELECT` statements.

### Setup

To begin, we will set up our database and populate the tables as we have done in previous labs. In your terminal, run `sqlite3 saladshop.db` to connect with the database and enter the sqlite shell. Then, run the following commands within the sqlite shell to get our database ready to go.

`.read create_employees.sql`

`.read create_ingredients.sql`

`.read insert_employees.sql`

`.read insert_ingredients.sql`


To make sure it has been set up correctly, you can view all the data in the tables by running:

`SELECT * FROM employees;` which should return all the data in the employees table, or `SELECT * FROM ingredients;` which should return all the data in the ingredients table.

### Selecting data
Our database is now ready for querying. We will use the python library `sqlite3` for running our SELECT statements.
So to begin, create a connection with saladshop.db and set up a cursor.

First, import the `sqlite3` library

In the next cell, connect to the saladshop.db database

Using the connection created in the cell above, create a cursor for us to execute sql statements

#### Selecting all and selecting specific columns

In the cells below, create two sql statements that will select all the data in the employees table and all the data in the ingredients table.

In [ ]:
all_employees = """"""
all_ingredients = """"""

Now run both of those statements using the cursor object we created

In the cells below, create two sql statements. The first should just select the name column from the ingredients table. The second statement should only select the start date (start_date) column from the employees table.

In [ ]:
ingredient_names = ''''''
employee_start_dates = ''''''

Now run both of those statements using the cursor object

### Select Practice

In the following exercises, answer the question by creating a sql select statement that will provide us with the solution. After reading each question, first create a sql statement, the run it using the cursor object to find the answer. 

HINT: use the WHERE clause and boolean logic to filter the data within the select statement.

Here's an example:
What ingredients cost less than $1/oz?

In [ ]:
#statement = '''SELECT * FROM ingredients WHERE cost_per_ounce < 1.0'''
#cursor.execute(statement)
#cursor.fetchall()

What date did the employee Naomi begin working? (select only rows from the employees table that have the name "Naomi")

What ingredients expire after February 3rd 2020?

What ingredients cost more than 1.00 but less than 1.50?

Which employees' home zip code is 10002 or 10003?

### Conclusion

Using the SELECT statement in sql is how we query the data in the database. We use the SELECT statement to retrieve exactly the data we are interested in analyzing. In this lab we started off with some basic SELECT commands using `SELECT *` to select everything from a table, and `SELECT column_name` to select all the data from a specific column, or columns, in a table.

Most of the time however, we are going to want to add some more complex filters to our SELECT statements, so we can be more precise in the data we are querying. For example, if our employees table had a 1,000,000 rows but we only wanted to see those rows for employees that started after a certain date, we would use a filter to limit the results of a query. The `WHERE` clause is how we filter in our SELECT statements. 

At the end of the lab, we used the `WHERE` clause, in conjunction with boolean logic, to apply filters to the queries.