In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv"

In [3]:
df = pd.read_csv(url)

In [5]:
import sqlite3

In [6]:
conn = sqlite3.connect('yelp.db')

In [8]:
df.to_sql('restaurants', conn, index = False)

In [9]:
cursor = conn.cursor()

In [42]:
cursor.execute('select * from restaurants LIMIT 1;')

In [43]:
cursor.fetchall()

[('Rambling House',
  '4292 Katonah Ave',
  'Bronx',
  'Pubs',
  4.0,
  'http://www.yelp.com/biz/rambling-house-bronx')]

In [13]:
cursor.execute('pragma table_info(restaurants);')

In [14]:
cursor.fetchall()

[(0, 'Name', 'TEXT', 0, None, 0),
 (1, 'Address', 'TEXT', 0, None, 0),
 (2, 'City', 'TEXT', 0, None, 0),
 (3, 'Category', 'TEXT', 0, None, 0),
 (4, 'Rating', 'REAL', 0, None, 0),
 (5, 'URL', 'TEXT', 0, None, 0)]

In [74]:
cursor.fetchall()

[]