# Intro to Relational Databases

### Introduction

When we say relational databases, we mean databases like SQL, or Postgres.  Relational databases are used to store and retrieve data, and to do so quickly.  So far, we have used simply used CSV to store or data, or perhaps in a past life we have some experience with Microsoft Excel.  These are good tools, but when the size of our data increases and as the questions we have about the data become more complex, we need to move to relational databases like SQL.

### SQL vs Excel

Now one way to learn about SQL is to compare it to some software that we have already used in our non-coding life: namely a spreadsheet like Microsoft Excel or a Google spreadsheet.  

> Now your not familiar with spreadsheets, that's ok -- we'll explore the concepts that we'll need to know.

A spreadsheet is good for organizing, storing, and asking questions about our data.  Let's get started by using a Google spreadsheet to organize some information.  Imagine that we run a barber shop, and we want to use a Google doc to help us keep track of our customers and employees.  To do so, we created the following spreadsheet.

<img src="./barbershop.png" width='80%'/>

<img src="table-names.png" width="40%">

At the very bottom of the Google spreadsheet, you can see that the first sheet in the file is for storing information about Employees and the second stores information about Customers.

Now a lot of the components that we see in the Google spreadsheet we'll also see in SQL.

* Table
    * The `Employees` spreadsheet is similar to a table in a database.  A table stores information about just a single entity.  So for example, we have separate tables for `Customers` and `Employees`.  We'll discuss how to know when to separate data into multiple tables in future lessons.
    
* Columns
    * The table above has columns of `Name`, `Phone Number`, and `Email`.  In a database, each table will also have columns used to store different attributes about our data.
    
* Rows
    * We see each individual `employee` is stored in a separate row.  It will be the same in SQL.  For each individual *member* of a table, we will have a separate row, and each attribute of that row is in a column. 
    
* Document Name
    * Finally, notice that our Google document has a name of `Barbershop` at the top.  This document holds separate spreadsheets about employees and customers.  Similarly, we will create SQL database named `Barbershop` that will hold our tables of `employees` and `customers`.

### Get started with SQL

There is various relational database software that we can use: Postgres, SQL, or SQLite.  They all work similarly.  So we'll get started with SQLite3 as it's lightweight and easy to set up.

If we have a Mac, we can install SQLite3 with the following:

`brew install sqlite3`

So now that we have installed the SQLite3 software, the next step is create a database.

![](./create-database.png)

In [ ]:
sqlite3 barbershop < create_employees.sql

Now a database only makes sense if we have at least one table.  Let's create a table.

```sql
CREATE TABLE employees (name TEXT, phone number, );
```

Creating a table involves a few different components:

* CREATE TABLE table_name 
* each column followed by the data


Our first step here is to create a table to store the data. When creating a table, we need to determine the types of data we want it to hold. 


Two of the most common datatypes, and the types of data in our Employees table, are Integer and Text. You can view a list of other common data types [here](https://www.w3schools.com/sql/sql_datatypes.asp).


We're missing one column: 


`id INTEGER PRIMARY KEY AUTOINCREMENT, `
Looking at our Employees table, we have a name and email column that we want represented in text, and a phone number column we want represented as an integer. ID doesn't mean anything, except that it's an identifier, so easy to change

SQL Statement for creating a new table:

```sql
CREATE TABLE employees (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, phone number, );
```

Notice how our phone number column can be stored as both text and integer.
* We choose integer vs text based on what operations we want to perform on the data

Also notice how our data type for id is "INTEGER PRIMARY KEY AUTOINCREMENT". This means SQL will automatically fill in unique id keys for each row in the table.

Below we will create our employees table in the barbershop_database. In order to actually interact with the database, we must first create a cursor object from our connnection. We use our cursor to execute these SQL statements, and that the statements must be wrapped in quotes ('''SQL statement GOES here''')

In [2]:
#creating cursor object
cursor = connection.cursor()

In [3]:
cursor.execute('''CREATE TABLE employees (id INTEGER PRIMARY KEY, name TEXT, phone_number INTEGER, email TEXT);''')

Our table is now stored in the barbershop_database.db file. We are now ready to insert data into the table.

As our database can store multiple tables, lets add a table for customers as well.

In [4]:
cursor.execute('''CREATE TABLE customers (id INTEGER PRIMARY KEY, name TEXT, phone_number INTEGER);''')

### SQL Conventions

* Table name should be plural
*