# Yelp Review

1. Download the yelp data

In [15]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv')
import sqlite3
conn = sqlite3.connect('yelp.db')

In [5]:
df.to_sql('restaurants', conn)
cursor = conn.cursor()

In [24]:
statement = '''SELECT name, MIN(rating)
FROM restaurants 
WHERE city = "Bronx";'''

In [25]:
cursor.execute(statement)
cursor.fetchall()

[('Applebees', 2.0)]

* Find the restaurants with a rating above 3
* Find the minimum rating, as well as the restaurant name for restaurants in the bronx
* Find the average rating in brooklyn
* find the average rating for each city - group by 

* Use sql to only select those cities with an average rating above 4


> Use sql to only select those cuisines with an average rating above 4

In [30]:
statement_bk = """
SELECT city, AVG(rating) FROM restaurants WHERE city = "Brooklyn"; 
"""

In [31]:
cursor.execute(statement_bk)
cursor.fetchall()

[('Brooklyn', 3.985179407176287)]

In [43]:
statement_avg_cities = """
SELECT city, AVG(rating) as avg_rating FROM restaurants GROUP BY city ORDER BY avg_rating DESC LIMIT 5; 
"""

In [44]:
cursor.execute(statement_avg_cities)
cursor.fetchall()

[('Port Reading', 5.0),
 ('Mount Vernon', 4.5),
 ('Middle Village', 4.5),
 ('MIddle Village', 4.5),
 ('Fresh Meadow', 4.5)]

In [45]:
query = "SELECT count(*) FROM restaurants where city = 'MIddle Village'"

In [46]:
cursor.execute(query)
cursor.fetchall()

[(2,)]

In [62]:
select__avg_cities = """
SELECT city, AVG(rating) as avg_rating, COUNT(*) as amount FROM restaurants GROUP BY city HAVING (avg_rating > 4 AND amount > 50) ORDER BY avg_rating DESC; 
"""

In [63]:
cursor.execute(select__avg_cities)
cursor.fetchall()

[('Astoria', 4.114130434782608, 92)]

In [67]:
def select_avg(attribute):
    cursor.execute(f"SELECT {attribute}, AVG(rating) FROM restaurants GROUP BY {attribute}")
    return cursor.fetchall()

In [69]:
select_avg("city")

[('Arverne', 4.0),
 ('Astoria', 4.114130434782608),
 ('Bayonne', 4.0),
 ('Bayside', 3.907142857142857),
 ('Belle Harbor', 2.5),
 ('Bellerose', 3.5833333333333335),
 ('Breezy Point', 3.5),
 ('Briarwood', 4.0),
 ('Broad Channel', 4.0),
 ('Bronx', 3.821297429620563),
 ('Brooklyn', 3.985179407176287),
 ('Cambria Heights', 3.0),
 ('Cedarhurst', 4.25),
 ('Clifton', 4.0),
 ('College Point', 3.5),
 ('Coney Island', 3.5),
 ('Corona', 4.291666666666667),
 ('Douglaston', 3.7),
 ('East Elmhurst', 4.0),
 ('Edgewater', 4.5),
 ('Elizabeth', 4.027777777777778),
 ('Elmhurst', 4.166666666666667),
 ('Elmont', 4.0),
 ('Englewood', 4.5),
 ('Englewood Cliffs', 4.0),
 ('Far Rockaway', 4.208333333333333),
 ('Financial District', 4.0),
 ('Floral Park', 4.03125),
 ('Flushing', 3.919254658385093),
 ('Forest Hills', 3.8556701030927836),
 ('Fort Lee', 4.25),
 ('Fresh Meadow', 4.5),
 ('Fresh Meadows', 3.671875),
 ('Glen Oaks', 3.9),
 ('Glendale', 3.5344827586206895),
 ('Great Neck', 3.5),
 ('Harlem', 4.0),
 ('Hewlett', 3.75),
 ('Hollis', 3.9166666666666665),
 ('Howard Beach', 3.6444444444444444),
 ('Inwood', 2.0),
 ('Jackson Heights', 4.053571428571429),
 ('Jamaica', 3.913793103448276),
 ('Kew Gardens', 3.4523809523809526),
 ('Lawrence', 4.0625),
 ('Little Neck', 4.115384615384615),
 ('Long Beach', 4.0),
 ('Long Island City', 3.6785714285714284),
 ('Lynbrook', 4.0),
 ('MIddle Village', 4.5),
 ('Manhattan', 3.6),
 ('Maspeth', 4.25),
 ('Middle Village', 4.5),
 ('Mount Vernon', 4.5),
 ('New Hyde Park', 3.7083333333333335),
 ('New York', 3.987815491731941),
 ('Newark', 4.166666666666667),
 ('Oakland Gardens', 3.9423076923076925),
 ('Ozone Park', 3.576923076923077),
 ('Pelham Manor', 3.5),
 ('Perth Amboy', 3.8333333333333335),
 ('Port Reading', 5.0),
 ('Queens', 3.9583333333333335),
 ('Queens Village', 4.326923076923077),
 ('Rego Park', 4.086206896551724),
 ('Richmond Hill', 3.823529411764706),
 ('Ridgewood', 4.175),
 ('Rockaway', 4.2727272727272725),
 ('Rockaway Beach', 4.1923076923076925),
 ('Rockaway Park', 3.4491525423728815),
 ('Rosedale', 3.0),
 ('South Amboy', 4.25),
 ('South Ozone Park', 4.0),
 ('South Richmond Hill', 4.0),
 ('Springfield Gardens', 3.5),
 ('Staten Island', 3.710348162475822),
 ('Staten Island NY', 2.5),
 ('Sunnyside', 4.0),
 ('Valley Stream', 3.4696969696969697),
 ('Whitestone', 4.2368421052631575),
 ('Woodbridge', 4.0),
 ('Woodhaven', 3.772727272727273),
 ('Woodmere', 4.0),
 ('Woodside', 4.0576923076923075),
 ('Yonkers', 3.75)]