# Has Many Movie Lab

### Introduction
In this lab we will continue to look at the "Has-Many" relationships in our data. The database we will be using during this lab contains information about a selection of movies and related entities such as actors, directors and writers. A movie entity will have relationships with actor, director, and writer entities. The actors, directors and writers will also have relationships with themselves (i.e. a director will have worked with many actors). In problems below, we will use our knowledge of these relationships to build SQL queries.

Let's begin by connecting to the database and reviewing the schema of the tables.

In [1]:
import sqlite3
conn = sqlite3.connect('films.db')
cursor = conn.cursor()

In [2]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('actors',),
 ('directors',),
 ('writers',),
 ('movie_actors',),
 ('movie_directors',),
 ('movie_writers',),
 ('movies',)]

In [3]:
cursor.execute('PRAGMA table_info(movies)')
cursor.fetchall()

[(0, 'id', 'INT', 0, None, 0),
 (1, 'title', 'TEXT', 0, None, 0),
 (2, 'studio', 'TEXT', 0, None, 0),
 (3, 'runtime', 'REAL', 0, None, 0),
 (4, 'description', 'TEXT', 0, None, 0),
 (5, 'release_date', 'NUM', 0, None, 0),
 (6, 'year', 'INT', 0, None, 0)]

In [4]:
cursor.execute('PRAGMA table_info(actors)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'name', 'TEXT', 0, None, 0)]

In [5]:
cursor.execute('PRAGMA table_info(directors)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'name', 'TEXT', 0, None, 0)]

In [6]:
cursor.execute('PRAGMA table_info(writers)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'name', 'TEXT', 0, None, 0)]

In [7]:
cursor.execute('PRAGMA table_info(movie_actors)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'movie_id', 'TEXT', 0, None, 0),
 (2, 'actor_id', 'TEXT', 0, None, 0)]

In [8]:
cursor.execute('PRAGMA table_info(movie_directors)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'movie_id', 'INTEGER', 0, None, 0),
 (2, 'director_id', 'INTEGER', 0, None, 0)]

In [9]:
cursor.execute('PRAGMA table_info(movie_writers)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'movie_id', 'INTEGER', 0, None, 0),
 (2, 'writer_id', 'INTEGER', 0, None, 0)]

Let's start off with some basic one table queries:

* What is the title, length, and id of the movie with the longest runtime?

* Using your answer from the previous question, how many actors were credited for the movie with the longest runtime? Hint: Use the COUNT function with the movie ID

* What was the shortest movie released in 2006?

### Has Many

* What are the names of the actors in Toy Story?

* What is the name of the director of Toy Story?

* What are the names of the writers of Toy Story?

* Of the actors in Toy Story, which actor or actress has the most movies in the database?

* What are the names of other movies the director of Toy Story directed?

* What are the names of all the directors Tom Hanks has worked with?

* What is the name of the director Tom Hanks has worked with the most?

* What are the names of all the writers Tom Hanks has worked with?

* What is the name of the actor with the most credits in the database?

* What are the names of the movies the actor from the previous question has been in, after the year 2005?

* What is the name of the writer in the database that has been credited the most times during the year 2018?

In [1]:
# SELECT w.name,
#        w.id,
#        count( * ) 
#   FROM movie_writers AS mw
#        JOIN
#        writers AS w ON mw.writer_id = w.id
#        JOIN
#        movies AS m ON mw.movie_id = m.id
#  WHERE m.year = 2018
#  GROUP BY w.id
#  ORDER BY count( * ) DESC;

* What is the name of the actor in the database that has been credited the most between 2010 and 2015 (inclusive)?