# Python SQL Lab

### Introduction
In this lab we will practice using the *Python library* called `sqlite3` to execute our SQL calls. This library makes it easy for us to connect to and analyze data in a SQL database within a Python environment. We'll start out by setting up the database in the terminal as we have previously, then we will use the `sqlite3` library set up a connection with the library, create a cursor to call different sql commands, and then execute some sql statements using the cursor.

### Setup

Before getting started with the `sqlite3` library, let's recreate the salad shop database from previous labs. For this part, lets continue using the terminal and sqlite shell to run the sql scripts.  You can copy the SQL scripts into a single file called `create_tables.sql`:

```sql
-- create_tables.sql
CREATE TABLE employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT,
    position TEXT,
    start_date DATE,
    zip_code TEXT,
    phone_number TEXT);
    
CREATE TABLE ingredients (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    cost_per_ounce FLOAT,
    calories_per_ounce INTEGER,
    expiration DATE);
```

You can create the tables by running the following command from the terminal:

`sqlite3 saladshop.db < create_tables.sql`

Next create another file called `insert_data.sql` and copy and paste the following SQL statements.

```sql
-- insert_data.sql
INSERT INTO employees (name, position, start_date, zip_code, phone_number) VALUES
  ("Tom", "manager", "2019-05-20", "10001", "212-438-3984"),
  ("Alison", "salad maker", "2020-01-04", "10023", "212-329-2489"),
  ("Jerry", "delivery driver", "2019-12-15", "10001", "212-219-1029"),
  ("Brian", "salad maker", "2019-12-04", "10002", "646-328-2309"),
  ("Vanessa", "clerk", "2019-11-14", "11201", "718-348-2348");
  
INSERT INTO ingredients (name, cost_per_ounce, calories_per_ounce, expiration) VALUES 
  ("baby spinach", .19, 7, "2020-02-05"),
  ("kale", .50, 10, "2020-02-10"),
  ("tomatoes", 1.25, 5, "2020-01-30"),
  ("broccoli", 1.15, 45, "2020-02-10"),
  ("chicken", 3.50, 60, "2020-02-07");
```

Then run the file with the following:

`sqlite3 saladshop.db < insert_data.sql`

To make sure it has been set up correctly, you can view all the data in the tables by running `sqlite saladshop.db`, and then from inside of the SQL shell running:

`SELECT * FROM employees;` 
* which should return all the data in the employees table, or

`SELECT * FROM ingredients;` 
* which should return all the data in the ingredients table.

### Getting our library ready

Ok, now that we have created the tables and loaded the data, it's time to practice using our

* First import the necessary `pip` library

* Then use the sqlite3 library to connect to the created database

Finally, create a cursor so that we are ready to call different sql commands on our database.

### Executing sql

Use the sqlite3 python library to select all of the employees in the database.

In [ ]:
statement = 'SELECT * FROM employees;'

Run the command in the cell below. It should return the employees table. 

> Hint: This requires two commands, one using `cursor.execute()` followed by `cursor.fetchall()`

Use the `sqlite3` python library to select all of the ingredients in the database.

In [ ]:
statement = 'SELECT * FROM ingredients'

Run the command in the cell below. It should return the data in the ingredients table.

### Conclusion

In this lab we focused on how we can use the python library `sqlite3` to connect with a sql database and execute sql commands. First, we created a connection with the salad shop database. We then used this connection to create a cursor object which can be used to execute sql statements. We finished off the lab by using our cursor to select all the data from the two tables in our database.