# Select SQL Lab

### Introduction
We've learned all the basics about setting up our SQL database, creating tables, and inserting data. In this lab we will practice querying the data from our salad shop database using `SELECT` statements.

### Setup

To begin, we will set up our database and populate the tables as we have done in previous labs. In your terminal, run `sqlite3 saladshop.db` to connect with the database and enter the sqlite shell. Then, run the following commands within the sqlite shell to get our database ready to go.

`.read create_employees.sql`

`.read create_ingredients.sql`

`.read insert_employees.sql`

`.read insert_ingredients.sql`


To make sure it has been set up correctly, you can view all the data in the tables by running:

`SELECT * FROM employees;` which should return all the data in the employees table, or `SELECT * FROM ingredients;` which should return all the data in the ingredients table.

### Selecting data

1. Selecting all from tables

    * Select all employees
    * Select all ingredients

2. Selecting specific columns from tables

    * Eg. just select name from ingredients
    * Select name, startdate from employees

### Scoping data

*  SELECT FROM employees WHERE name = ?

In [ ]:
*

* Select from employees where start_date >

* Select from ingredients where cost < 4 AND calories < 50  
    * Point is to use an AND clause

*  SELECT FROM employees WHERE zipcode = ? or zipcode = ?