In [1]:
import sqlite3
conn = sqlite3.connect('grocery.db')

In [2]:
cursor = conn.cursor()

In [7]:
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY,
  name TEXT
);''')

In [8]:
cursor.fetchall()

[]

In [9]:
insert_statement = """INSERT INTO users (name) VALUES
('Bob'),
('Michael'),
('Evan'),
('Sam');"""

In [10]:
cursor.execute(insert_statement)

In [11]:
cursor.fetchall()

[]

In [20]:
cursor.execute('SELECT * FROM users;')

In [21]:
users = cursor.fetchall()

In [25]:
[user_name for user_id, user_name in users]

['Bob', 'Michael', 'Evan', 'Sam']

In [26]:
url = "https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv"

In [28]:
import pandas as pd
df = pd.read_csv(url)

In [29]:
df[:3]

,Name,Address,City,Category,Rating,URL
0,Rambling House,4292 Katonah Ave,Bronx,Pubs,4.0,http://www.yelp.com/biz/rambling-house-bronx
1,Curry Spot,4268 Katonah Ave,Bronx,Indian,4.0,http://www.yelp.com/biz/curry-spot-bronx
2,Eileens Country Kitchen,964 McLean Ave,Yonkers,American (Traditional),3.5,http://www.yelp.com/biz/eileens-country-kitche...

In [44]:
# df.to_sql('restaurants', conn, index = False, if_exists = 'replace')

In [126]:
sql_query = '''SELECT City, COUNT(*), AVG(rating), MAX(rating) FROM restaurants GROUP BY City;'''

In [127]:
cursor.execute(sql_query)

In [156]:
# find duplicate restuarant names
query = """SELECT name, COUNT(*) as number FROM restaurants GROUP BY name HAVING COUNT(*) > 10 ORDER BY number DESC;"""
cursor.execute(query)

In [157]:
cursor.fetchall()

[('Dig Inn Seasonal Market', 38),
 ("Sophie's Cuban Cuisine", 32),
 ('Panera Bread', 32),
 ('Caridad Restaurant', 24),
 ('Corfu Grill', 21),
 ("Govinda's Vegetarian", 20),
 ('Num Pang Sandwich Shop', 19),
 ("Tina's Cuban Cuisine", 18),
 ("Luke's Lobster", 18),
 ("Tino's Delicatessen", 17),
 ('Sagar Chinese', 17),
 ('Nakata', 17),
 ('Margon', 17),
 ('Lunchbox', 17),
 ('Good To Go', 17),
 ('Katsu-Hama', 16),
 ('Royal Crown Bakery', 15),
 ('Rajdhani Indian Restaurant', 15),
 ("Nino's Restaurant", 15),
 ('Gourmet 53', 15),
 ('Cipriani Le Specialita', 15),
 ('Alor Cafe', 15),
 ('Woorijip Authentic Korean Food', 14),
 ('Wajima Japanese Restaurant', 14),
 ('The Picnic Basket', 14),
 ('Taqueria Tlaxcalli', 14),
 ('Sabrosura Restaurant', 14),
 ("Mike's Deli", 14),
 ('Latin Grill Factory', 14),
 ("Hanco's", 14),
 ('Estrellita Poblana IV', 14),
 ('Estrellita Poblana', 14),
 ('Buffalo Wild Wings', 14),
 ('Tasty Deli', 13),
 ('Soba-ya', 13),
 ('Muscle Maker Grill', 13),
 ("Michaelangelo's Little Italy", 13),
 ('La Strada Restaurant', 13),
 ("Franco's", 13),
 ('Empire Szechuan Restaurant', 13),
 ('Empire East', 13),
 ("Emilio's Pizza", 13),
 ('Café Zaiya', 13),
 ('Bodhi Tree', 13),
 ('Vegetarian Ginger', 12),
 ('Tung Thong Thai Restaurant', 12),
 ('Sorrento Pizzeria', 12),
 ('Pupusa Market', 12),
 ('Parisi Bakery', 12),
 ("Moe's Southwest Grill", 12),
 ("Mimi's Hummus", 12),
 ('Leña Latin Grill', 12),
 ("Lee's Tavern", 12),
 ('La Piazza', 12),
 ('Kati Roll Company', 12),
 ('Hibachi Grill and Supreme Buffet', 12),
 ('Hado Sushi', 12),
 ('Genki Sushi', 12),
 ('Call It A Wrap', 12),
 ('Bay House Bistro', 12),
 ('Zen Vegetarian House', 11),
 ("Sam's Soul Food Restaurant Bar & Lounge", 11),
 ('Original Pizza', 11),
 ('Nurnberger Bierhaus', 11),
 ('Margot Restaurant', 11),
 ('Margherita Pizza', 11),
 ("John & Joe's Pizzeria", 11),
 ("Joe's of Avenue U Italian Cuisine", 11),
 ('International Paradise Restaurant', 11),
 ("Gaby's Pizza", 11),
 ('El Rey II Restaurant', 11),
 ('Chikurin', 11),
 ("Canlon's Restaurant", 11),
 ('Cafe Luna', 11),
 ("Brother's Pizzeria", 11),
 ('Bedouin Tent Restaurant', 11),
 ('Bassett Caterers', 11),
 ('Armandos Pizza', 11)]

In [137]:
query = """SELECT * FROM restaurants WHERE City = 'Queens' 
ORDER BY rating DESC LIMIT 10;"""

In [ ]:
def insert_country(country_name):
    'SELECT * FROM countries WHERE name = country_name;'
    'INSERT INTO'

In [ ]:
'john doe'

In [ ]:
'555-555-5555'
'unknown'

In [ ]:
* FROM 
* WHERE city = 'queens'

In [82]:
cursor.execute(query)

In [83]:
cursor.fetchall()

[("Dominick's Hot Dog Truck",
  'Rego Park',
  'Queens',
  'Hot Dogs',
  4.5,
  'http://www.yelp.com/biz/dominicks-hot-dog-truck-queens'),
 ("Dominick's Hot Dog Truck",
  'Rego Park',
  'Queens',
  'Hot Dogs',
  4.5,
  'http://www.yelp.com/biz/dominicks-hot-dog-truck-queens'),
 ("Dominick's Hot Dog Truck",
  'Rego Park',
  'Queens',
  'Hot Dogs',
  4.5,
  'http://www.yelp.com/biz/dominicks-hot-dog-truck-queens'),
 ('Veggie Island',
  '95-19 Rockaway Beach Blvd',
  'Queens',
  'Vegetarian',
  4.5,
  'http://www.yelp.com/biz/veggie-island-queens-2'),
 ('Veggie Island',
  '95-19 Rockaway Beach Blvd',
  'Queens',
  'Vegetarian',
  4.5,
  'http://www.yelp.com/biz/veggie-island-queens-2'),
 ('Veggie Island',
  '95-19 Rockaway Beach Blvd',
  'Queens',
  'Vegetarian',
  4.5,
  'http://www.yelp.com/biz/veggie-island-queens-2'),
 ('Veggie Island',
  '95-19 Rockaway Beach Blvd',
  'Queens',
  'Vegetarian',
  4.5,
  'http://www.yelp.com/biz/veggie-island-queens-2'),
 ("Dominick's Hot Dog Truck",
  'Rego Park',
  'Queens',
  'Hot Dogs',
  4.5,
  'http://www.yelp.com/biz/dominicks-hot-dog-truck-queens'),
 ('Five Guys Burgers & Fries',
  '132-01 14th Ave',
  'Queens',
  'Burgers',
  4.0,
  'http://www.yelp.com/biz/five-guys-burgers-and-fries-queens-9'),
 ('Five Guys Burgers & Fries',
  '132-01 14th Ave',
  'Queens',
  'Burgers',
  4.0,
  'http://www.yelp.com/biz/five-guys-burgers-and-fries-queens-9')]