# Yelp Review

1. Download the yelp data

In [15]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv')
import sqlite3
conn = sqlite3.connect('yelp.db')

In [5]:
df.to_sql('restaurants', conn)
cursor = conn.cursor()

In [24]:
statement = '''SELECT name, MIN(rating)
FROM restaurants 
WHERE city = "Bronx";'''

In [25]:
cursor.execute(statement)
cursor.fetchall()

[('Applebees', 2.0)]

* Find the restaurants with a rating above 3
* Find the minimum rating, as well as the restaurant name for restaurants in the bronx
* Find the average rating in brooklyn
* find the average rating for each city - group by 

* Use sql to only select those cities with an average rating above 4


> Use sql to only select those cuisines with an average rating above 4

In [30]:
statement_bk = """
SELECT city, AVG(rating) FROM restaurants WHERE city = "Brooklyn"; 
"""

In [31]:
cursor.execute(statement_bk)
cursor.fetchall()

[('Brooklyn', 3.985179407176287)]

In [43]:
statement_avg_cities = """
SELECT city, AVG(rating) as avg_rating FROM restaurants GROUP BY city ORDER BY avg_rating DESC LIMIT 5; 
"""

In [44]:
cursor.execute(statement_avg_cities)
cursor.fetchall()

[('Port Reading', 5.0),
 ('Mount Vernon', 4.5),
 ('Middle Village', 4.5),
 ('MIddle Village', 4.5),
 ('Fresh Meadow', 4.5)]

In [45]:
query = "SELECT count(*) FROM restaurants where city = 'MIddle Village'"

In [46]:
cursor.execute(query)
cursor.fetchall()

[(2,)]

In [62]:
select__avg_cities = """
SELECT city, AVG(rating) as avg_rating, COUNT(*) as amount FROM restaurants GROUP BY city HAVING (avg_rating > 4 AND amount > 50) ORDER BY avg_rating DESC; 
"""

In [63]:
cursor.execute(select__avg_cities)
cursor.fetchall()

[('Astoria', 4.114130434782608, 92)]