# Belongs to Airbnb Lab

### Introduction
In this lab we will continue to explore the relationships between data in different tables of a database. The Airbnb database for this lab contains four tables, `hosts`, `listings`, `locations`, and `neighborhoods`. In order to understand and analyze the data, we need to first understand the relationships between the tables. Relationships include "Has One" and "Has Many". For example, the `listings` table has a column "host_id" which HAS ONE record in hosts table that it corresponds to (a listing will only have one host). The `locations` table has an id column which HAS MANY corresponding records in the `listings` table (a location will have more than one listing).

Let's begin by connecting to the database and reviewing the schema of the tables.

In [1]:
import sqlite3
conn = sqlite3.connect('airbnb.db')
cursor = conn.cursor()

In [2]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('hosts',), ('neighborhoods',), ('locations',), ('listings',)]

In [3]:
cursor.execute('PRAGMA table_info(hosts)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'host_name', 'TEXT', 0, None, 0)]

In [4]:
cursor.execute('PRAGMA table_info(neighborhoods)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'neighbourhood_group', 'TEXT', 0, None, 0)]

In [5]:
cursor.execute('PRAGMA table_info(locations)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'longitude', 'REAL', 0, None, 0),
 (2, 'latitude', 'REAL', 0, None, 0),
 (3, 'neighborhood_id', 'INTEGER', 0, None, 0)]

In [6]:
cursor.execute('PRAGMA table_info(listings)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'host_id', 'INTEGER', 0, None, 0),
 (3, 'location_id', 'INTEGER', 0, None, 0),
 (4, 'number_of_reviews', 'INTEGER', 0, None, 0),
 (5, 'occupancy', 'INTEGER', 0, None, 0),
 (6, 'price', 'INTEGER', 0, None, 0),
 (7, 'room_type', 'TEXT', 0, None, 0),
 (8, 'host_listings_count', 'INTEGER', 0, None, 0)]

We'll start off with some basic one table queries:

* Which listing name has the highest price?

In [10]:
cursor.execute('SELECT name FROM listings ORDER BY price DESC LIMIT 1;')
cursor.fetchall()

[('Furnished room in Astoria apartment',)]

* What is the id of the location with the lowest longitude?

In [14]:
cursor.execute('SELECT id FROM locations ORDER BY longitude LIMIT 1;')
cursor.fetchall()

[(45652,)]

* What is the greatest occupancy of a listing?

In [15]:
cursor.execute('SELECT MAX(occupancy) FROM listings;')
cursor.fetchall()

[(365,)]

* What is the average price of a listing?

In [16]:
cursor.execute('SELECT AVG(price) FROM listings;')
cursor.fetchall()

[(152.7206871868289,)]

* What is the count of number of hosts?

In [17]:
cursor.execute('SELECT COUNT(id) FROM hosts;')
cursor.fetchall()

[(37457,)]

### Move onto relationships

Have them map out the relationships

*  host
    * include the host name, and host id
    
* A location belongs to a neighborhoods 
    * neighborhood_id, latitude, longitude
* A neighborhood belongs to a neighborhood group

* listing 
    * name, host_id, location_id, room_type, price, occupancy

For the following queries, use the relationships between the tables to find the solutions

* What is the longitude and latitude of the listing of the highest price?

In [19]:
cursor.execute('SELECT a.longitude, a.latitude FROM locations as a JOIN listings as b ON a.id = b.location_id ORDER BY b.price DESC LIMIT 1;')
cursor.fetchall()

[(-73.91651, 40.7681)]

* What is the neighborhood id of the listing with the lowest price?

In [21]:
cursor.execute('SELECT a.neighborhood_id FROM locations as a JOIN listings as b ON a.id = b.location_id ORDER BY b.price LIMIT 1;')
cursor.fetchall()

[(6,)]

* What is the longitude and latitude of the listing of the lowest price?

In [20]:
cursor.execute('SELECT a.longitude, a.latitude FROM locations as a JOIN listings as b ON a.id = b.location_id ORDER BY b.price LIMIT 1;')
cursor.fetchall()

[(-73.95428000000001, 40.69023)]

### Relations and GROUP BY

* What is the name of the host has the most number of reviews?

In [24]:
cursor.execute('SELECT h.host_name, SUM(l.number_of_reviews) FROM hosts as h JOIN listings as l ON h.id = l.host_id GROUP BY l.host_id ORDER BY SUM(l.number_of_reviews) DESC LIMIT 1')
cursor.fetchall()

[('Maya', 2273)]

* What is the name of the host with the highest average listing price?

In [28]:
cursor.execute('SELECT h.host_name FROM hosts as h JOIN listings as l ON h.id = l.host_id GROUP BY l.host_id ORDER BY AVG(l.price) DESC LIMIT 1')
cursor.fetchall()

[('Erin',)]

* What is the name of the host with the lowest average listing price?

In [27]:
cursor.execute('SELECT h.host_name FROM hosts as h JOIN listings as l ON h.id = l.host_id GROUP BY l.host_id ORDER BY AVG(l.price) LIMIT 1')
cursor.fetchall()

[('Aymeric',)]

* What is the name of the neighborhood with the most number of locations

In [32]:
cursor.execute('SELECT n.name FROM neighborhoods as n JOIN locations as l ON n.id = l.neighborhood_id GROUP BY n.id ORDER BY COUNT(n.id) DESC LIMIT 1;')
cursor.fetchall()

[('Williamsburg',)]

* What are the names of the neighborhoods with 10 locations?

In [31]:
cursor.execute('SELECT n.name FROM neighborhoods as n JOIN locations as l ON n.id = l.neighborhood_id GROUP BY n.id HAVING COUNT(n.id) = 10;')
cursor.fetchall()

[('North Riverdale',),
 ('Great Kills',),
 ('East Morrisania',),
 ('Melrose',),
 ('Bergen Beach',),
 ('Westchester Square',)]

The following questions will require joins of three tables

* What is the average occupancy of each neighborhood?

In [37]:
cursor.execute('SELECT n.name, AVG(l.occupancy) FROM neighborhoods as n JOIN locations as lo ON n.id = lo.neighborhood_id JOIN listings as l ON lo.id = l.location_id GROUP BY lo.neighborhood_id;')
cursor.fetchall()

[('Kensington', 281.0514285714286),
 ('Midtown', 207.29644012944985),
 ('Harlem', 258.4224981188864),
 ('Clinton Hill', 269.986013986014),
 ('East Harlem', 266.0268576544315),
 ('Murray Hill', 191.6783505154639),
 ('Bedford-Stuyvesant', 248.36537425955842),
 ("Hell's Kitchen", 226.1532175689479),
 ('Upper West Side', 268.41653982749875),
 ('Chinatown', 274.20380434782606),
 ('South Slope', 281.23943661971833),
 ('West Village', 279.5403645833333),
 ('Williamsburg', 290.2772959183674),
 ('Fort Greene', 274.85071574642126),
 ('Chelsea', 251.00449236298292),
 ('Crown Heights', 268.97953964194375),
 ('Park Slope', 276.2134387351779),
 ('Windsor Terrace', 283.11464968152865),
 ('Inwood', 266.45238095238096),
 ('East Village', 290.3761467889908),
 ('Greenpoint', 285.92286995515695),
 ('Bushwick', 269.44908722109534),
 ('Flatbush', 270.51529790660226),
 ('Lower East Side', 267.834248079034),
 ('Prospect-Lefferts Gardens', 269.88971962616824),
 ('Long Island City', 246.74301675977654),
 ('Kips Bay', 243.28297872340426),
 ('SoHo', 254.64245810055866),
 ('Upper East Side', 252.20189098998887),
 ('Prospect Heights', 287.484593837535),
 ('Washington Heights', 266.0678531701891),
 ('Woodside', 234.78297872340426),
 ('Brooklyn Heights', 298.961038961039),
 ('Carroll Gardens', 293.3304721030043),
 ('Gowanus', 242.2834008097166),
 ('Flatlands', 167.75903614457832),
 ('Cobble Hill', 301.7878787878788),
 ('Flushing', 198.7488262910798),
 ('Boerum Hill', 287.728813559322),
 ('Sunnyside', 239.29201101928373),
 ('DUMBO', 250.52777777777777),
 ('St. George', 173.25),
 ('Highbridge', 206.44444444444446),
 ('Financial District', 173.46370967741936),
 ('Ridgewood', 250.5744680851064),
 ('Morningside Heights', 321.9450867052023),
 ('Jamaica', 176.4935064935065),
 ('Middle Village', 154.0),
 ('NoHo', 263.1794871794872),
 ('Ditmars Steinway', 247.2621359223301),
 ('Flatiron District', 241.95),
 ('Roosevelt Island', 292.4155844155844),
 ('Greenwich Village', 282.94897959183675),
 ('Little Italy', 264.6611570247934),
 ('East Flatbush', 184.056),
 ('Tompkinsville', 155.57142857142858),
 ('Astoria', 255.8088888888889),
 ('Clason Point', 133.71428571428572),
 ('Eastchester', 31.53846153846154),
 ('Kingsbridge', 207.05714285714285),
 ('Two Bridges', 278.7638888888889),
 ('Queens Village', 198.56666666666666),
 ('Rockaway Beach', 202.57142857142858),
 ('Forest Hills', 237.26388888888889),
 ('Nolita', 295.1897233201581),
 ('Woodlawn', 266.72727272727275),
 ('University Heights', 229.71428571428572),
 ('Gravesend', 234.80882352941177),
 ('Gramercy', 270.4733727810651),
 ('Allerton', 201.33333333333334),
 ('East New York', 178.46330275229357),
 ('Theater District', 163.12847222222223),
 ('Concourse Village', 205.46875),
 ('Sheepshead Bay', 204.46341463414635),
 ('Emerson Hill', 284.2),
 ('Fort Hamilton', 214.0),
 ('Bensonhurst', 230.16),
 ('Tribeca', 238.4915254237288),
 ('Shore Acres', 250.42857142857142),
 ('Sunset Park', 258.35897435897436),
 ('Concourse', 204.96),
 ('Elmhurst', 236.60337552742615),
 ('Brighton Beach', 194.13333333333333),
 ('Jackson Heights', 214.72043010752688),
 ('Cypress Hills', 196.5037037037037),
 ('St. Albans', 139.02631578947367),
 ('Arrochar', 109.19047619047619),
 ('Rego Park', 231.43396226415095),
 ('Wakefield', 167.3),
 ('Clifton', 175.6),
 ('Bay Ridge', 222.0709219858156),
 ('Graniteville', 202.0),
 ('Spuyten Duyvil', 95.0),
 ('Stapleton', 149.37037037037038),
 ('Briarwood', 187.07142857142858),
 ('Ozone Park', 211.16129032258064),
 ('Columbia St', 295.9047619047619),
 ('Vinegar Hill', 285.47058823529414),
 ('Mott Haven', 218.06666666666666),
 ('Longwood', 210.7741935483871),
 ('Canarsie', 141.12925170068027),
 ('Battery Park City', 264.6714285714286),
 ('Civic Center', 296.7307692307692),
 ('East Elmhurst', 195.5081081081081),
 ('New Springville', 299.75),
 ('Morris Heights', 166.76470588235293),
 ('Arverne', 176.57142857142858),
 ('Cambria Heights', 220.8846153846154),
 ('Tottenville', 97.42857142857143),
 ('Mariners Harbor', 173.5),
 ('Concord', 109.42307692307692),
 ('Borough Park', 196.6764705882353),
 ('Bayside', 175.07692307692307),
 ('Downtown Brooklyn', 325.51807228915663),
 ('Port Morris', 212.82608695652175),
 ('Fieldston', 221.25),
 ('Kew Gardens', 163.84375),
 ('Midwood', 267.1834862385321),
 ('College Point', 223.3684210526316),
 ('Mount Eden', 228.83333333333334),
 ('City Island', 233.77777777777777),
 ('Glendale', 217.72222222222223),
 ('Port Richmond', 174.0),
 ('Red Hook', 268.7974683544304),
 ('Richmond Hill', 170.06382978723406),
 ('Bellerose', 122.14285714285714),
 ('Maspeth', 177.4909090909091),
 ('Williamsbridge', 140.55),
 ('Soundview', 231.33333333333334),
 ('Woodhaven', 164.07954545454547),
 ('Woodrow', 365.0),
 ('Co-op City', 1.0),
 ('Stuyvesant Town', 299.8918918918919),
 ('Parkchester', 224.56410256410257),
 ('North Riverdale', 199.0),
 ('Dyker Heights', 220.25),
 ('Bronxdale', 219.57894736842104),
 ('Sea Gate', 299.42857142857144),
 ('Riverdale', 204.1818181818182),
 ('Kew Gardens Hills', 240.3846153846154),
 ('Bay Terrace', 142.5),
 ('Norwood', 210.70967741935485),
 ('Claremont Village', 185.32142857142858),
 ('Whitestone', 187.72727272727272),
 ('Fordham', 221.44444444444446),
 ('Bayswater', 157.64705882352942),
 ('Navy Yard', 316.07142857142856),
 ('Brownsville', 243.672131147541),
 ('Eltingville', 172.0),
 ('Fresh Meadows', 227.03125),
 ('Mount Hope', 209.35),
 ('Lighthouse Hill', 149.5),
 ('Springfield Gardens', 160.98823529411766),
 ('Howard Beach', 156.5),
 ('Belle Harbor', 178.375),
 ('Jamaica Estates', 193.68421052631578),
 ('Van Nest', 208.63636363636363),
 ('Morris Park', 239.0),
 ('West Brighton', 90.27777777777777),
 ('Far Rockaway', 199.13793103448276),
 ('South Ozone Park', 138.9),
 ('Tremont', 246.0),
 ('Corona', 120.828125),
 ('Great Kills', 216.4),
 ('Manhattan Beach', 159.375),
 ('Marble Hill', 250.33333333333334),
 ('Dongan Hills', 207.71428571428572),
 ('Castleton Corners', 176.25),
 ('East Morrisania', 171.5),
 ('Hunts Point', 125.83333333333333),
 ('Neponsit', 134.0),
 ('Pelham Bay', 163.35294117647058),
 ('Randall Manor', 89.78947368421052),
 ('Throgs Neck', 189.20833333333334),
 ('Todt Hill', 276.0),
 ('West Farms', 120.5),
 ('Silver Lake', 203.0),
 ('Morrisania', 229.5),
 ('Laurelton', 180.38888888888889),
 ('Grymes Hill', 223.42857142857142),
 ('Holliswood', 195.5),
 ('Pelham Gardens', 218.64285714285714),
 ('Belmont', 177.33333333333334),
 ('Rosedale', 187.05084745762713),
 ('Edgemere', 89.72727272727273),
 ('New Brighton', 222.4),
 ('Midland Beach', 129.0),
 ('Baychester', 207.14285714285714),
 ('Melrose', 271.4),
 ('Bergen Beach', 226.8),
 ('Richmondtown', 65.0),
 ('Howland Hook', 139.5),
 ('Schuylerville', 221.76923076923077),
 ('Coney Island', 201.76470588235293),
 ('New Dorp Beach', 190.6),
 ("Prince's Bay", 254.5),
 ('South Beach', 182.125),
 ('Bath Beach', 168.88235294117646),
 ('Jamaica Hills', 224.875),
 ('Oakwood', 176.6),
 ('Castle Hill', 205.66666666666666),
 ('Hollis', 219.21428571428572),
 ('Douglaston', 159.375),
 ('Huguenot', 157.0),
 ('Olinville', 192.5),
 ('Edenwald', 151.53846153846155),
 ('Grant City', 124.66666666666667),
 ('Westerleigh', 252.5),
 ('Bay Terrace, Staten Island', 365.0),
 ('Westchester Square', 205.3),
 ('Little Neck', 283.8),
 ('Fort Wadsworth', 0.0),
 ('Rosebank', 189.85714285714286),
 ('Unionport', 121.0),
 ('Mill Basin', 75.0),
 ('Arden Heights', 270.75),
 ("Bull's Head", 199.33333333333334),
 ('New Dorp', 365.0),
 ('Rossville', 306.0),
 ('Breezy Point', 264.6666666666667),
 ('Willowbrook', 14.0)]

* What is the total number of reviews for each neighborhood?

In [38]:
cursor.execute('SELECT n.name, SUM(l.number_of_reviews) FROM neighborhoods as n JOIN locations as lo ON n.id = lo.neighborhood_id JOIN listings as l ON lo.id = l.location_id GROUP BY lo.neighborhood_id;')
cursor.fetchall()

[('Kensington', 2972),
 ('Midtown', 19444),
 ('Harlem', 75962),
 ('Clinton Hill', 14586),
 ('East Harlem', 36446),
 ('Murray Hill', 4535),
 ('Bedford-Stuyvesant', 110352),
 ("Hell's Kitchen", 50227),
 ('Upper West Side', 36058),
 ('Chinatown', 9941),
 ('South Slope', 10405),
 ('West Village', 14885),
 ('Williamsburg', 85427),
 ('Fort Greene', 10608),
 ('Chelsea', 23641),
 ('Crown Heights', 36408),
 ('Park Slope', 14638),
 ('Windsor Terrace', 4324),
 ('Inwood', 4690),
 ('East Village', 44670),
 ('Greenpoint', 19429),
 ('Bushwick', 52514),
 ('Flatbush', 12787),
 ('Lower East Side', 24161),
 ('Prospect-Lefferts Gardens', 14051),
 ('Long Island City', 12256),
 ('Kips Bay', 5837),
 ('SoHo', 7235),
 ('Upper East Side', 31686),
 ('Prospect Heights', 10875),
 ('Washington Heights', 17161),
 ('Woodside', 5035),
 ('Brooklyn Heights', 2555),
 ('Carroll Gardens', 5897),
 ('Gowanus', 7709),
 ('Flatlands', 1839),
 ('Cobble Hill', 2888),
 ('Flushing', 14818),
 ('Boerum Hill', 4295),
 ('Sunnyside', 8070),
 ('DUMBO', 1382),
 ('St. George', 1987),
 ('Highbridge', 1318),
 ('Financial District', 6931),
 ('Ridgewood', 7778),
 ('Morningside Heights', 4599),
 ('Jamaica', 9910),
 ('Middle Village', 1055),
 ('NoHo', 994),
 ('Ditmars Steinway', 7852),
 ('Flatiron District', 1419),
 ('Roosevelt Island', 1214),
 ('Greenwich Village', 6526),
 ('Little Italy', 2799),
 ('East Flatbush', 12448),
 ('Tompkinsville', 2400),
 ('Astoria', 19310),
 ('Clason Point', 316),
 ('Eastchester', 157),
 ('Kingsbridge', 1435),
 ('Two Bridges', 2129),
 ('Queens Village', 2147),
 ('Rockaway Beach', 1358),
 ('Forest Hills', 3210),
 ('Nolita', 5634),
 ('Woodlawn', 484),
 ('University Heights', 779),
 ('Gravesend', 1336),
 ('Gramercy', 7682),
 ('Allerton', 1803),
 ('East New York', 6759),
 ('Theater District', 4342),
 ('Concourse Village', 807),
 ('Sheepshead Bay', 3262),
 ('Emerson Hill', 56),
 ('Fort Hamilton', 745),
 ('Bensonhurst', 1845),
 ('Tribeca', 2034),
 ('Shore Acres', 146),
 ('Sunset Park', 7882),
 ('Concourse', 1643),
 ('Elmhurst', 5554),
 ('Brighton Beach', 1347),
 ('Jackson Heights', 5061),
 ('Cypress Hills', 4482),
 ('St. Albans', 2584),
 ('Arrochar', 307),
 ('Rego Park', 2754),
 ('Wakefield', 1279),
 ('Clifton', 708),
 ('Bay Ridge', 2618),
 ('Graniteville', 123),
 ('Spuyten Duyvil', 70),
 ('Stapleton', 1036),
 ('Briarwood', 1247),
 ('Ozone Park', 1512),
 ('Columbia St', 685),
 ('Vinegar Hill', 545),
 ('Mott Haven', 2542),
 ('Longwood', 1653),
 ('Canarsie', 5338),
 ('Battery Park City', 580),
 ('Civic Center', 637),
 ('East Elmhurst', 15107),
 ('New Springville', 235),
 ('Morris Heights', 465),
 ('Arverne', 2253),
 ('Cambria Heights', 485),
 ('Tottenville', 139),
 ('Mariners Harbor', 173),
 ('Concord', 648),
 ('Borough Park', 2232),
 ('Bayside', 928),
 ('Downtown Brooklyn', 1188),
 ('Port Morris', 948),
 ('Fieldston', 146),
 ('Kew Gardens', 332),
 ('Midwood', 1655),
 ('College Point', 439),
 ('Mount Eden', 420),
 ('City Island', 759),
 ('Glendale', 1459),
 ('Port Richmond', 153),
 ('Red Hook', 2263),
 ('Richmond Hill', 3230),
 ('Bellerose', 118),
 ('Maspeth', 2490),
 ('Williamsbridge', 1138),
 ('Soundview', 441),
 ('Woodhaven', 2792),
 ('Woodrow', 0),
 ('Co-op City', 34),
 ('Stuyvesant Town', 302),
 ('Parkchester', 911),
 ('North Riverdale', 182),
 ('Dyker Heights', 415),
 ('Bronxdale', 458),
 ('Sea Gate', 10),
 ('Riverdale', 293),
 ('Kew Gardens Hills', 331),
 ('Bay Terrace', 249),
 ('Norwood', 519),
 ('Claremont Village', 350),
 ('Whitestone', 249),
 ('Fordham', 956),
 ('Bayswater', 191),
 ('Navy Yard', 251),
 ('Brownsville', 1912),
 ('Eltingville', 228),
 ('Fresh Meadows', 1045),
 ('Mount Hope', 435),
 ('Lighthouse Hill', 78),
 ('Springfield Gardens', 5873),
 ('Howard Beach', 272),
 ('Belle Harbor', 74),
 ('Jamaica Estates', 596),
 ('Van Nest', 206),
 ('Morris Park', 271),
 ('West Brighton', 656),
 ('Far Rockaway', 374),
 ('South Ozone Park', 1947),
 ('Tremont', 227),
 ('Corona', 1806),
 ('Great Kills', 264),
 ('Manhattan Beach', 405),
 ('Marble Hill', 168),
 ('Dongan Hills', 158),
 ('Castleton Corners', 101),
 ('East Morrisania', 480),
 ('Hunts Point', 176),
 ('Neponsit', 46),
 ('Pelham Bay', 442),
 ('Randall Manor', 342),
 ('Throgs Neck', 769),
 ('Todt Hill', 16),
 ('West Farms', 7),
 ('Silver Lake', 237),
 ('Morrisania', 186),
 ('Laurelton', 528),
 ('Grymes Hill', 74),
 ('Holliswood', 15),
 ('Pelham Gardens', 1140),
 ('Belmont', 296),
 ('Rosedale', 1673),
 ('Edgemere', 113),
 ('New Brighton', 201),
 ('Midland Beach', 37),
 ('Baychester', 310),
 ('Melrose', 90),
 ('Bergen Beach', 205),
 ('Richmondtown', 79),
 ('Howland Hook', 41),
 ('Schuylerville', 423),
 ('Coney Island', 373),
 ('New Dorp Beach', 74),
 ("Prince's Bay", 23),
 ('South Beach', 95),
 ('Bath Beach', 363),
 ('Jamaica Hills', 69),
 ('Oakwood', 9),
 ('Castle Hill', 118),
 ('Hollis', 164),
 ('Douglaston', 167),
 ('Huguenot', 167),
 ('Olinville', 30),
 ('Edenwald', 200),
 ('Grant City', 161),
 ('Westerleigh', 18),
 ('Bay Terrace, Staten Island', 3),
 ('Westchester Square', 155),
 ('Little Neck', 19),
 ('Fort Wadsworth', 0),
 ('Rosebank', 215),
 ('Unionport', 104),
 ('Mill Basin', 69),
 ('Arden Heights', 31),
 ("Bull's Head", 92),
 ('New Dorp', 0),
 ('Rossville', 21),
 ('Breezy Point', 5),
 ('Willowbrook', 9)]

* Write a query that returns the name and average listing price of each neighborhood

In [39]:
cursor.execute('SELECT n.name, AVG(l.price) FROM neighborhoods as n JOIN locations as lo ON n.id = lo.neighborhood_id JOIN listings as l ON lo.id = l.location_id GROUP BY lo.neighborhood_id;')
cursor.fetchall()

[('Kensington', 92.88571428571429),
 ('Midtown', 282.7190938511327),
 ('Harlem', 118.97404063205417),
 ('Clinton Hill', 181.89335664335664),
 ('East Harlem', 133.1987466427932),
 ('Murray Hill', 220.95876288659792),
 ('Bedford-Stuyvesant', 107.67824448034465),
 ("Hell's Kitchen", 204.79417773237998),
 ('Upper West Side', 210.91831557584982),
 ('Chinatown', 161.49728260869566),
 ('South Slope', 146.72535211267606),
 ('West Village', 267.6822916666667),
 ('Williamsburg', 143.80280612244897),
 ('Fort Greene', 151.37423312883436),
 ('Chelsea', 249.73854447439354),
 ('Crown Heights', 112.480179028133),
 ('Park Slope', 176.31225296442688),
 ('Windsor Terrace', 138.9936305732484),
 ('Inwood', 88.89682539682539),
 ('East Village', 186.0831084727469),
 ('Greenpoint', 144.82242152466367),
 ('Bushwick', 84.80040567951319),
 ('Flatbush', 92.21256038647343),
 ('Lower East Side', 186.31284302963775),
 ('Prospect-Lefferts Gardens', 110.40186915887851),
 ('Long Island City', 127.46554934823091),
 ('Kips Bay', 202.40851063829788),
 ('SoHo', 287.1033519553073),
 ('Upper East Side', 188.94827586206895),
 ('Prospect Heights', 173.37254901960785),
 ('Washington Heights', 89.6106785317019),
 ('Woodside', 85.09787234042552),
 ('Brooklyn Heights', 209.06493506493507),
 ('Carroll Gardens', 175.91416309012877),
 ('Gowanus', 158.80161943319837),
 ('Flatlands', 126.43373493975903),
 ('Cobble Hill', 211.92929292929293),
 ('Flushing', 93.51408450704226),
 ('Boerum Hill', 176.135593220339),
 ('Sunnyside', 84.86501377410468),
 ('DUMBO', 196.30555555555554),
 ('St. George', 118.14583333333333),
 ('Highbridge', 71.11111111111111),
 ('Financial District', 225.49059139784947),
 ('Ridgewood', 77.18439716312056),
 ('Morningside Heights', 114.78323699421965),
 ('Jamaica', 95.77056277056278),
 ('Middle Village', 109.58064516129032),
 ('NoHo', 295.71794871794873),
 ('Ditmars Steinway', 95.02912621359224),
 ('Flatiron District', 341.925),
 ('Roosevelt Island', 113.25974025974025),
 ('Greenwich Village', 263.40561224489795),
 ('Little Italy', 222.06611570247935),
 ('East Flatbush', 104.222),
 ('Tompkinsville', 76.19047619047619),
 ('Astoria', 117.18777777777778),
 ('Clason Point', 112.76190476190476),
 ('Eastchester', 141.69230769230768),
 ('Kingsbridge', 77.92857142857143),
 ('Two Bridges', 127.06944444444444),
 ('Queens Village', 83.93333333333334),
 ('Rockaway Beach', 132.17857142857142),
 ('Forest Hills', 121.625),
 ('Nolita', 230.13833992094862),
 ('Woodlawn', 60.09090909090909),
 ('University Heights', 69.57142857142857),
 ('Gravesend', 79.01470588235294),
 ('Gramercy', 222.75443786982248),
 ('Allerton', 87.5952380952381),
 ('East New York', 85.42660550458716),
 ('Theater District', 248.01388888888889),
 ('Concourse Village', 73.78125),
 ('Sheepshead Bay', 105.77439024390245),
 ('Emerson Hill', 68.2),
 ('Fort Hamilton', 93.81818181818181),
 ('Bensonhurst', 75.78666666666666),
 ('Tribeca', 490.638418079096),
 ('Shore Acres', 152.71428571428572),
 ('Sunset Park', 113.04102564102564),
 ('Concourse', 86.18),
 ('Elmhurst', 80.45991561181435),
 ('Brighton Beach', 131.93333333333334),
 ('Jackson Heights', 80.89784946236558),
 ('Cypress Hills', 128.9037037037037),
 ('St. Albans', 100.82894736842105),
 ('Arrochar', 115.0),
 ('Rego Park', 83.87735849056604),
 ('Wakefield', 85.58),
 ('Clifton', 84.93333333333334),
 ('Bay Ridge', 144.43262411347519),
 ('Graniteville', 68.66666666666667),
 ('Spuyten Duyvil', 154.75),
 ('Stapleton', 98.96296296296296),
 ('Briarwood', 105.875),
 ('Ozone Park', 85.2741935483871),
 ('Columbia St', 162.95238095238096),
 ('Vinegar Hill', 187.1764705882353),
 ('Mott Haven', 88.91666666666667),
 ('Longwood', 91.91935483870968),
 ('Canarsie', 104.36734693877551),
 ('Battery Park City', 367.5571428571429),
 ('Civic Center', 191.94230769230768),
 ('East Elmhurst', 81.18378378378378),
 ('New Springville', 76.0),
 ('Morris Heights', 76.94117647058823),
 ('Arverne', 171.7792207792208),
 ('Cambria Heights', 81.73076923076923),
 ('Tottenville', 144.85714285714286),
 ('Mariners Harbor', 94.625),
 ('Concord', 58.19230769230769),
 ('Borough Park', 63.06617647058823),
 ('Bayside', 157.94871794871796),
 ('Downtown Brooklyn', 150.34939759036143),
 ('Port Morris', 79.8913043478261),
 ('Fieldston', 75.08333333333333),
 ('Kew Gardens', 88.375),
 ('Midwood', 80.33944954128441),
 ('College Point', 88.0),
 ('Mount Eden', 58.5),
 ('City Island', 173.0),
 ('Glendale', 90.79629629629629),
 ('Port Richmond', 90.11111111111111),
 ('Red Hook', 143.45569620253164),
 ('Richmond Hill', 87.11702127659575),
 ('Bellerose', 99.35714285714286),
 ('Maspeth', 83.64545454545454),
 ('Williamsbridge', 96.75),
 ('Soundview', 53.46666666666667),
 ('Woodhaven', 67.17045454545455),
 ('Woodrow', 700.0),
 ('Co-op City', 77.5),
 ('Stuyvesant Town', 169.1081081081081),
 ('Parkchester', 69.07692307692308),
 ('North Riverdale', 79.9),
 ('Dyker Heights', 93.41666666666667),
 ('Bronxdale', 57.10526315789474),
 ('Sea Gate', 487.85714285714283),
 ('Riverdale', 442.09090909090907),
 ('Kew Gardens Hills', 112.3076923076923),
 ('Bay Terrace', 142.0),
 ('Norwood', 75.54838709677419),
 ('Claremont Village', 87.46428571428571),
 ('Whitestone', 107.54545454545455),
 ('Fordham', 69.44444444444444),
 ('Bayswater', 87.47058823529412),
 ('Navy Yard', 151.64285714285714),
 ('Brownsville', 76.45901639344262),
 ('Eltingville', 141.66666666666666),
 ('Fresh Meadows', 99.5),
 ('Mount Hope', 77.5),
 ('Lighthouse Hill', 157.5),
 ('Springfield Gardens', 94.23529411764706),
 ('Howard Beach', 115.4),
 ('Belle Harbor', 171.5),
 ('Jamaica Estates', 182.94736842105263),
 ('Van Nest', 113.81818181818181),
 ('Morris Park', 69.33333333333333),
 ('West Brighton', 80.55555555555556),
 ('Far Rockaway', 165.86206896551724),
 ('South Ozone Park', 82.4),
 ('Tremont', 51.54545454545455),
 ('Corona', 59.171875),
 ('Great Kills', 100.6),
 ('Manhattan Beach', 103.5),
 ('Marble Hill', 89.16666666666667),
 ('Dongan Hills', 79.42857142857143),
 ('Castleton Corners', 139.75),
 ('East Morrisania', 85.0),
 ('Hunts Point', 50.5),
 ('Neponsit', 274.6666666666667),
 ('Pelham Bay', 105.0),
 ('Randall Manor', 336.0),
 ('Throgs Neck', 91.04166666666667),
 ('Todt Hill', 169.0),
 ('West Farms', 122.0),
 ('Silver Lake', 70.0),
 ('Morrisania', 83.44444444444444),
 ('Laurelton', 95.33333333333333),
 ('Grymes Hill', 159.14285714285714),
 ('Holliswood', 135.75),
 ('Pelham Gardens', 93.60714285714286),
 ('Belmont', 77.125),
 ('Rosedale', 76.69491525423729),
 ('Edgemere', 94.72727272727273),
 ('New Brighton', 101.8),
 ('Midland Beach', 91.83333333333333),
 ('Baychester', 75.42857142857143),
 ('Melrose', 83.3),
 ('Bergen Beach', 106.7),
 ('Richmondtown', 78.0),
 ('Howland Hook', 100.0),
 ('Schuylerville', 69.23076923076923),
 ('Coney Island', 123.70588235294117),
 ('New Dorp Beach', 57.4),
 ("Prince's Bay", 409.5),
 ('South Beach', 89.25),
 ('Bath Beach', 81.76470588235294),
 ('Jamaica Hills', 132.125),
 ('Oakwood', 81.2),
 ('Castle Hill', 63.0),
 ('Hollis', 88.64285714285714),
 ('Douglaston', 82.75),
 ('Huguenot', 118.33333333333333),
 ('Olinville', 64.0),
 ('Edenwald', 82.0),
 ('Grant City', 57.666666666666664),
 ('Westerleigh', 71.5),
 ('Bay Terrace, Staten Island', 102.5),
 ('Westchester Square', 122.2),
 ('Little Neck', 75.2),
 ('Fort Wadsworth', 800.0),
 ('Rosebank', 111.85714285714286),
 ('Unionport', 137.14285714285714),
 ('Mill Basin', 179.75),
 ('Arden Heights', 67.25),
 ("Bull's Head", 47.333333333333336),
 ('New Dorp', 57.0),
 ('Rossville', 75.0),
 ('Breezy Point', 213.33333333333334),
 ('Willowbrook', 249.0)]

### Conclusion
In this lab we worked on the "Has One" and "Has Many" relations in SQL. We began by mapping out the relations between the tables, which gave us a better idea of how we could then join them in our queries. We finished the lab by creating queries using JOIN clauses that connect the tables using these relationships.