# Belongs To High School Data

In [1]:
import sqlite3
conn = sqlite3.connect('nyc_schools.db')
cursor = conn.cursor()

In [2]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('sat_records',), ('high_schools',)]

In [3]:
cursor.execute('PRAGMA table_info(high_schools)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'dbn', 'TEXT', 0, None, 0),
 (2, 'school_name', 'TEXT', 0, None, 0),
 (3, 'boro', 'TEXT', 0, None, 0),
 (4, 'total_students', 'INTEGER', 0, None, 0),
 (5, 'graduation_rate', 'REAL', 0, None, 0),
 (6, 'attendance_rate', 'REAL', 0, None, 0),
 (7, 'college_career_rate', 'REAL', 0, None, 0)]

In [4]:
cursor.execute('PRAGMA table_info(sat_records)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'dbn', 'TEXT', 0, None, 0),
 (2, 'name', 'TEXT', 0, None, 0),
 (3, 'num_test_takers', 'REAL', 0, None, 0),
 (4, 'reading_avg', 'REAL', 0, None, 0),
 (5, 'math_avg', 'REAL', 0, None, 0),
 (6, 'writing_score', 'REAL', 0, None, 0)]

* Similar to previous lab, but here want to stretch them between high_school info and sat info

* Eg. In which boro is the school that has the highest writing score

* Find the top five schools that have the largest differences between num_test_takers and total_students

In [ ]:
cursor.execute('PRAGMA table_info(high_schools)')
cursor.fetchall()