# Selecting with SQL

### Introduction

* So far we have learned 
* But the type of command we will most often work with is the SELECT statement

### Select example

1. Specifying a table

```sql
SELECT * FROM employees;
```

And then to execute this SQL statement with Python we do the following:

In [ ]:
import sqlite3
conn = sqlite3.connect('')
cursor = conn.cursor()
cursor.execute('SELECT * FROM employees;')

* Select everything from the Employees table

* If we want to select data from a different table, we simply alter the table name

```sql
SELECT * FROM customers;
```

2. Specifying a column

Now between `SELECT` and `FROM` we specify which columns to select.  So far, we've just used the `*` which means select all of the columns.  But if we don't need all of that information, we can be more specific.

`SELECT name FROM employees;`

If we want to select more than one column, we simply place a comma between each column that we wish to select.

`SELECT name, zip_code FROM employees;`

* Here, can show how to store the sql query in a variable, and then pass it through

In [3]:
query = '''
SELECT * FROM employees;
'''
# cursor.execute(query)

### Scoping Rows

So we just learned how to scope the columns that are returned, now let's see how to scope the number of rows.  We do this with a WHERE clause.

A where clause tells SQL to only return the rows that match a specific criteria, for example employees with the name Bob.