# Inserting Data into Database

## Introduction

In the last lesson, we learned how to create and connect to a SQL database using SQLite3. We also learned how to create tables in our database. Now that we have our tables, we can begin to insert the data, or rows, into our tables.

### Connecting to the database
Lets start off by recreating the database from previous lessons. We'll do so using the `sqlite3` library.

To do so, we first create the connection to the database, and from there, get a `cursor` that can make SQL commands..

In [1]:
import sqlite3

In [4]:
#establish connection with the database
conn = sqlite3.connect('barbershop_database.db')

#create our cursor object
cur = conn.cursor()

Next, we'll use our cursor to execute the SQL command to create our tables.

Our SQL statement to create the employees table is below.  Copy the text below, and insert it into a `create_table.sql` file.

```SQL
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT, 
    phone_number INTEGER, 
    home_zipcode INTEGER, 
    email TEXT);
```

Next we can read the contents of the file using the `open` method in Python.

In [2]:
#setting variable sql_command as our create table statements
sql_command = open('create_table.sql', 'r')
create_script = sql_command.read()
create_script

# 'CREATE TABLE employees (id INTEGER PRIMARY KEY, name TEXT, phone_number INTEGER, home_zipcode INTEGER, \n
# email TEXT);\n'

'CREATE TABLE employees (id INTEGER PRIMARY KEY, name TEXT, phone_number INTEGER, home_zipcode INTEGER, \n                        email TEXT);\n'

> We can see that `create_script` contains the content of the `CREATE TABLE` sql command.

Next let's execute the script with the following.

In [5]:
cur.executescript(create)

### Inserting data into database
Now that our database is ready, we are ready to insert our rows of data into their respective tables.  We can do so by creating a new file called `insert_employees.sql` and copying the following code.

```sql
-- insert_employees.sql
INSERT INTO employees (name, phone_number, home_zipcode, email) VALUES
('fred', '555-333-4444', 10001, 'fred@barbershop.com'),
('bob', '555-333-4444', 10001, 'bob@barbershop.com');
```

So above, we start with the INSERT INTO command, followed by the name of the table to which we want to add data. Then, in parentheses, we wrote the column names that we will be filling with data. This is followed by the VALUES keyword, which is accompanied by a parentheses enclosed list of the values that correspond to each column name.

> Notice: We have commas in between each row, and that we ended the SQL statement with a semi-colon (as we do every SQL statement).

Then, we can execute the command by reading the contents of our file and executing the script to create our table.

In [6]:
sql_command = open('insert_employees.sql', 'r')
insert = sql_command.read()
cur.executescript(insert)

At this point, if we don't see an error, we have properly inserted in our data

### Summary

In this lesson, we worked with an INSERT statement in SQL.  We also gained some more practice with the `sqlite3` library.

We followed the general pattern of writing our INSERT statement in a separate file.  And we saw that an INSERT statement looks like the following: 

```sql
-- insert_employees.sql
INSERT INTO employees (name, phone_number, home_zipcode, email) VALUES
('fred', '555-333-4444', 10001, 'fred@barbershop.com'),
('bob', '555-333-4444', 10001, 'bob@barbershop.com');
```

Then, to execute that file, we first needed to connect to our database, and create a cursor object.

```python
import sqlite3
#establish connection with the database
conn = sqlite3.connect('barbershop_database.db')

#create our cursor object
cur = conn.cursor()
```

Then we used Python to read the contents of the SQL file.

```python
sql_command = open('insert_employees.sql', 'r')
insert = sql_command.read()
```

And finally, we used our sqlite3 cursor to execute the script.

```python
cur.executescript(insert)
```