# NYC High Schools Aggregates

In [3]:
import sqlite3
conn = sqlite3.connect('nyc_schools_single_tb.db')
cursor = conn.cursor()

In [4]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('high_schools',)]

In [5]:
cursor.execute('PRAGMA table_info(high_schools)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'dbn', 'TEXT', 0, None, 0),
 (2, 'name', 'TEXT', 0, None, 0),
 (3, 'num_test_takers', 'REAL', 0, None, 0),
 (4, 'reading_avg', 'REAL', 0, None, 0),
 (5, 'math_avg', 'REAL', 0, None, 0),
 (6, 'writing_score', 'REAL', 0, None, 0),
 (7, 'boro', 'TEXT', 0, None, 0),
 (8, 'total_students', 'INTEGER', 0, None, 0),
 (9, 'graduation_rate', 'REAL', 0, None, 0),
 (10, 'attendance_rate', 'REAL', 0, None, 0),
 (11, 'college_career_rate', 'REAL', 0, None, 0)]

### Aggregates

* What's the average number of students in manhattan

* What's the average attendance in manhattan

* Largest difference between graduation_rate and college_career_rate

* Highest math_avg in queens

* Highest math_avg in manhattan

* highest combined score in manhattan

### Group By

* What's the average number of students in each borough

* What's the average difference between graduation_rate and college_career_rate by borough

* https://stackoverflow.com/questions/30929526/sqlite-group-by-range-of-1000s

* what's the avg college career rate grouped by math_avg scores (see stackoverflow above)