# Inserting Data into Database

## Introduction

In the last lesson, we learned how to create and connect to a SQL database using SQLite3. We also learned how to create tables in our database. Now that we have our tables, we can begin to insert the data, or rows, into our tables.

### Connecting to the database
Lets start off by recreating the database from our last lesson. We first create the connection to the database, then, using our cursor, execute the SQL command to create our tables. The commands to create our tables are located in the create_table.sql file.

In [1]:
import sqlite3

In [4]:
#establish connection with the database
conn = sqlite3.connect('barbershop_database.db')

#create our cursor object
cur = conn.cursor()

Our SQL statements to create the employees table:
```SQL
CREATE TABLE employees (id INTEGER PRIMARY KEY, name TEXT, phone_number INTEGER, home_zipcode INTEGER, 
                        email TEXT);


```

In [5]:
#setting variable sql_command as our create table statements
sql_command = open('create_table.sql', 'r')
create = sql_command.read()
cur.executescript(create)

### Inserting data into database
Now that our database is ready, we are ready to insert our rows of data into their respective tables
> As developers we don't directly insert data too many time

We use the INSERT INTO command, followed by the name of the table to which we want to add data. Then, in parentheses, we put the column names that we will be filling with data. This is followed by the VALUES keyword, which is accompanied by a parentheses enclosed list of the values that correspond to each column name.

The file insert_employees.sql contains our commands for inserting the data into the employees table.

`insert_employees.sql`
```sql
INSERT INTO employees (name, phone_number, home_zipcode, email) VALUES
('fred', '555-333-4444', 10001, 'fred@barbershop.com'),
('bob', '555-333-4444', 10001, 'bob@barbershop.com');
```

A couple of things to note about our insert statement: 
* We don't need to have data for all of the columns 
* Commas in between each row, and end each sql statement with a semi-colon

To execute the command:

In [6]:
sql_command = open('insert_employees.sql', 'r')
insert = sql_command.read()
cur.executescript(insert)

At this point, if we don't see an error, we have properly inserted in our data