# Inserting Data into Database

## Introduction

Earlier, we saw how we can create a database, and inside of that database create one or more tables.  Now, the purpose of those tables is to store rows of data.  Let's learn how to populate our tables with data.

### Writing the Insert Statement

We can insert data into our employees tables by doing the following.  First, we'll create a new file to hold our code, here `insert_employees.sql`.  Then, we can create two rows of data with the following lines in our `insert_employees` file:

```sql
INSERT INTO employees (name, phone_number, home zipcode, birthday) VALUES 
('fred', '555-333-4444', '10001', '8/17/1990'),
('bob', '555-331-4444', '10001', '3/22/1992'),
('sally', '555-332-4444', '10001', '6/22/1991');
```

That's it!  See if you can unpack this code by breaking it into two clauses -- the `INSERT INTO` clause and the `VALUES` clause.

* `INSERT INTO`

The pattern for the `INSERT INTO` clause is ```INSERT INTO table_name (col_1, col_2, col_3)```.  So above our table name is `employees` and we next provide a comma separated list of columns.  Notice that one column from our table is missing: the `id` column.  We do not need to provide this column, because we previously indicated that this column should `AUTOINCREMENT`.  Thus `sqlite3` knows that every time a row of data is inserted, we should automatically increment the id column by one.

* `VALUES`

The next clause is the list of values to enter into our database.  Notice the pattern of each row:

* `(value, value, value, value),`

Each row is a comma separated list of values inside a pair of parentheses.  And after each row is a comma, until we reach the last row where we place a semicolon.  With the semicolon we have ended the sql statement.

### Executing the statement

Now that we have written our insert statement, it is time to run it against our database.  We can run the code in our database with the following:

`sqlite3 haircut_shop.db < insert_employees.sql`

At this point, if we don't see an error, we have properly inserted in our data

### Summary