# SQL Aggregates

### Introduction

So far we have used SQL to retrieve information about individual rows.  We have for example, gathered *each* name of an employee.  However, what if we want to ask a question that must examine multiple rows.  For example, we may want to know the count of a row, the maximum or minimum value of a row, or the average of rows.  We'll explore questions like these in this lesson.

### Working with CSV and SQL

> Move this up into an earlier lesson, if necessary.

* We'll use a couple of different tools. We'll use pandas to initially read our CSV and load the data into a dataframe.
* And then we'll convert this dataframe to a SQL table.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv')

* We can convert to SQL with the `to_sql` method.

This method requires two arguments: the name of the table we wish to create and a connection to the database.  We don't yet have a connection to the database, or even a database at all, so let's use SQLite to create one, and then we can pass through that connection to the `to_sql` method.

In [11]:
import sqlite3
yelp_db = sqlite3.connect('yelp.db')

In [7]:
df.to_sql('restaurants', yelp_db)

* Great so now our data from the dataframe should be loaded into our SQL table.  We can confirm this with a SELECT query to our database.

In [8]:
cursor = yelp_db.cursor()

In [9]:
cursor.execute('SELECT * FROM restaurants LIMIT 1')

In [10]:
cursor.fetchall()

[(0,
  'Rambling House',
  '4292 Katonah Ave',
  'Bronx',
  'Pubs',
  4.0,
  'http://www.yelp.com/biz/rambling-house-bronx')]

### Working with Aggregates

* Max

* Min

* Count

Count is interesting because we could count any individual column and if all of our data is filled, it would give us the same answer.  For example, if we counted the number of restaurant names that would return the same as the number of ratings.  Really what we want to do is count the rows.  To specify that we want to count not a specific column, but each of an entire row we use `*` as our argument.

### Calculations

* Sum()
* Avg()

### Aggregates and Where Clauses

* Just Sum and Avg should be good.